# tgbot
TOKEN="5957591308:AAHGH-bB7dEYBzt5ct0F1X8kENZJrIb8JCo"
ADMINS="6628313373"
BANNED="id"

# db | if host empty -> localhost
MONGO_HOST = ""
MONGH_PORT = ""
MONGO_USER = ""
MONGO_PASS = ""

AUTH_SOURC = ""

